/* Reset some default styles */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

/* Basic styling */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

nav {
    background-color: #333;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

a {
    color: #fff;
    text-decoration: none;
    padding: 0.5em 1em;
    transition: background-color 0.3s ease;
}

a.active {
    background-color: #555;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 0.5em 1em;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    color: #fff;
    padding: 0.5em 1em;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}


header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 2em;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 2em;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
}

h2 {
    font-size: 1.8em;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

p {
    font-size: 1.1em;
    margin-bottom: 1em;
}

.button {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 0.5em 1em;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #555;
}
